<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h4>Register a new User</h4>
        </mat-card-title>
    </mat-card-header>
    <form>
        <mat-input-container>
            <input [(ngModel)]="registerData.email" name="email" matInput placeholder="email" type="email">
        </mat-input-container>
        <mat-input-container>
            <input [(ngModel)]="registerData.pwd" name="password" matInput placeholder="password" type="password">
        </mat-input-container>
        <br>
        <mat-input-container>
            <input [(ngModel)]="registerData.name" name="name" matInput placeholder="name" type="name">
        </mat-input-container>
        <br>
        <mat-input-container style="width: 100%">
            <input [(ngModel)]="registerData.description" name="description" matInput placeholder="description" type="description">
        </mat-input-container>
        <br>        
        <button (click)="post()" mat-raised-button color="primary">Register</button>
    </form>
</mat-card>